<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <!-- 服务配置，通过WinServiceManager.exe安装时使用该配置信息 -->
  <appSettings>
    <add key="TaskConfigFile" value="D:\\SmartQQ\\SmartQQ\\SmartTask\\Tasks.config" />
    <add key="ServiceName" value="SmartTask" />
    <add key="ServiceDisplayName" value="SmartTask" />
    <add key="ServiceDescription" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ConsoleTitle" value="Welcome to Smart Task Console@V1.0" />
  </appSettings>
</configuration>